<div class="scrollContent">
    <!-- Carousel
      ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img class="first-slide" src="images/londonAir.png" alt="First slide">
                <div class="container">
                    <div class="carousel-caption">
                        <div class="row">
                            <div class="content col-sm-12">
                                <div class="col-md-4 hidden-sm hidden-xs">
                                    <img src="images/landup_logo.png" class="img-responsive" />
                                </div>
                                <div class="col-md-8">
                                    <h2>Immigration Solutions</h2>
                                    <p>
                                        We specialise in providing legal immigration advice and global visa solutions to private and corporate clients.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <img class="second-slide" src="images/madrid.png" alt="Second slide">
                <div class="container">
                    <div class="carousel-caption">
                        <div class="row">
                            <div class="content col-sm-12">
                                <div class="col-md-4 hidden-sm hidden-xs">
                                    <img src="images/landup_logo.png" class="img-responsive" />
                                </div>
                                <div class="col-md-8">
                                    <h2>Global services</h2>
                                    <p>We provide a full and comprehensive service in most of the world’s major countries.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <img class="third-slide" src="images/bcn.png" alt="Third slide">
                <div class="container">
                    <div class="carousel-caption">
                        <div class="row">
                            <div class="content col-sm-12">
                                <div class="col-md-4 hidden-sm hidden-xs">
                                    <img src="images/landup_logo.png" class="img-responsive" />
                                </div>
                                <div class="col-md-8">
                                    <h2>Our commitment</h2>
                                    <p>We manage and resolve all your immigration matters. We provide solutions applying expert knowledge.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div id="tr1"></div>
</div>