<section class="marketing">
    <div class="spacer s0"></div>
    <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="col-lg-4">
                <img class="img-circle" src="images/world.png" alt="Global Services" width="140" height="140">
                <h2>UK and Global Immigration</h2>
                <p>
                    <a class="btn btn-default" href="/services" role="button">Immigration Services &raquo;</a>
                </p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="img-circle" src="images/visas.png" alt="Visas" width="140" height="140">
                <h2>
                    Business and Tourist Visas<br />&nbsp;
                </h2>
                <p>
                    <a class="btn btn-default" href="/services" role="button">Visa Services &raquo;</a>
                </p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="img-circle" src="images/document.png" alt="Documents Legalisation" width="140" height="140">
                <h2>Document Procurement and Legalisation</h2>
                <p>
                    <a class="btn btn-default" href="/services" role="button">Documents Services &raquo;</a>
                </p>
            </div>
            <!-- /.col-lg-4 -->
        </div><!-- /.row -->
        <!-- START THE FEATURETTES -->
    </div>
</section>
<section class="hidden-md hidden-lg">
    <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-10 marketing-content right">
            <img src="images/logo.png" class="img-responsive" />
            <h2>We take care of you and your family </h2>
            <p>Our team has the experience needed to provide you and your family with the highest level of advice to get your visas approved just in time to start a new stage in your professional and family life.</p>
        </div>
        <div class="col-xs-1"></div>
    </div>
</section>
<div class="hidden-sm hidden-xs">
    <div id="trigger1"></div>
    <section class="marketing">
        <div id="parallax1" class="parallaxParent">
            <div class="family">
                <div class="content">
                    <img src="images/logo.png" />
                    <h2>We take care of you and your family </h2>
                    <p>Our team has the experience needed to provide you and your family with the highest level of advice to get your visas approved just in time to start a new stage in your professional and family life.</p>
                </div>
                <div class="content">
                </div>
            </div>

        </div>
    </section>
</div>
<section class="marketing" id="m2">
    <div class="row">
        <div class="col-lg-2 col-md-1 col-xs-1"></div>
        <div class="col-lg-5 col-md-6  col-xs-6 marketing-content left">
            <h2 class="featurette-heading">Specific rules and guidelines.</h2>
            <p class="lead">We operate within a strict set of rules and guidelines designed to ensure that all visa applicants are treated professionally, courteously and ethically at all times.</p>
        </div>
        <div class="col-lg-3 col-md-4  col-xs-4">
            <img class="img-responsive img-rounded center-block" src="images/avion.jpg" title="Land up">
        </div>
        <div class="col-lg-2 col-md-1  col-xs-1"></div>
    </div>
</section>
<section>
    <div class="row">
        <div class="col-lg-2 col-md-1 col-xs-1"></div>
        <div class="col-lg-3 col-md-4 col-xs-4">
            <img class="img-responsive img-rounded center-block" src="images/family-travel.jpg" title="">
        </div>
        <div class="col-lg-5 col-md-6 col-xs-6 marketing-content right">
            <h2 class="featurette-heading">You just have to worry about your luggage.</h2>
            <p class="lead">LandUp Immigration Services provides the immigration assistance you need as you prepare to travel for your new assignment.</p>
            <p class="lead">Immigration processes can be complicated and stressful. We are here to help you throughout these processes to make the immigration procedure as smooth as possible. </p>
        </div>
        <div class="col-lg-2 col-md-1 col-xs-1"></div>
    </div>
</section>